/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
    /*border: 1px solid red;*/
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/DINNextLTArabic-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/DINNextLTArabic-Regular.ttf);
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/DINNextLTArabic-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/DINNextLTArabic-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/DINNextLTArabic-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/DINNextLTArabic-Black.ttf);
    font-weight: bolder;
}

:root {
    --lightGray: #f2f2f2;
    --mediumGray: #B3B3B3;
    --vintageGray: #cccccc;
    --mediumDarkGray: #999999;
    --babyBlue: #5d99c6;
    --darkBlue: #2b2d71;
    --lightViolet: #d4c5e2;
    --grayColor: #3C3C3C;
    --blackColor: #000;
    --whiteColor: #ffffff;
    --mainTransition: .3s;
}

body {
    font-family: myFirstFont;
    font-size: 16px;
    direction: rtl;
    line-height: 1.6;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    display: block;
    transition: var(--mainTransition);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}

/* Small */
@media (min-width: 768px) {

    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {

    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}

main .container {}

.bg {
    background: url(../images/background.png) no-repeat;
    background-size: cover;
}

.last-bg {
    background: linear-gradient(to left, rgba(243, 240, 252, 1) 50%, rgba(230, 239, 250, 1) 100%);
}

main .container .input-form {
    width: 100%;
    margin: 100px auto 0;
    position: relative;
    padding: 20px 0;
    border-radius: 10px;

}

.input-form-2 {
    width: 100%;
    margin: 100px auto 0;
    position: relative;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
    background-color: #f2f2f2;
    display: flex;
}

.input-form-2 i {
    position: absolute;
    font-size: 18px;
    top: 35px;
    left: 150px;
    color: var(--vintageGray);
}

main .container .input-form i {
    position: absolute;
    font-size: 18px;
    top: 35px;
    left: 15px;
    color: var(--vintageGray);
}

main .container .searchbar {
    padding: 15px 45px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 500;
    color: var(--vintageGray);
    background-color: var(--whiteColor);
}

.searchbar-2 {
    padding: 15px 45px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    color: var(--vintageGray);
    background-color: var(--whiteColor);
}

main .container .searchbar::placeholder {
    color: var(--vintageGray);
    font-weight: 500;
    text-align: right;
}

main .container .searchbar:focus::placeholder {
    opacity: 0;
}

main .container .search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 39px;
    padding: 50px 30px;
    background-color: #140567;
    border-radius: 0 0 10px 10px;
}

.container .search-results .search-result-item {
    padding: 35px 10px;
    background: linear-gradient(to top, rgba(133, 93, 252, 1) 50%, rgba(189, 71, 250, 1) 100%);
    border: 2px solid #793699;
    opacity: .6;
    text-align: center;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: var(--mainTransition);
    height: 250px;
}

.container .search-results .search-result-item:hover {
    background: url(../images/234X279PX%20-%20TA3LEEM-20.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.container .search-results a {
    color: var(--whiteColor);
    font-weight: 500;
    font-size: 25px;
    cursor: url(../images/cursor.png);
}

.container .search-results .search-result-item .search-item img {
    width: 113px;
    height: 113px;
}

@media(max-width: 767px) {
    main .container .input-form {
        width: 100%;
    }

    main .container .input-form i {
        left: 80px;
    }
}

@media(max-width: 500px) {
    main .container .input-form i {
        left: 60px;
    }
}

@media(max-width: 375px) {
    main .container .input-form i {
        left: 50px;
    }
}

/*sector Page*/

.sectorcontent {
    background-color: var(--whiteColor);
    display: flex;
    border-radius: 0px 0px 10px 10px;
}

.sectorcontent .allsector {
    flex-basis: 30%;
    padding: 60px 20px;
    border-left: 2px solid var(--lightGray);
}

.sectorcontent .allsector h3 {
    margin-bottom: 20px;
    color: #5f2e8d;
    position: relative;
}

.sectorcontent .allsector h3::before {
    content: "";
    position: absolute;
    width: 72px;
    height: 3px;
    background-color: #5f2e8d;
    bottom: -5px;
}

.sectorcontent .allsector h3::after {
    content: "";
    position: absolute;
    width: 270px;
    height: 1px;
    background-color: #5f2e8d;
    bottom: -5px;
    left: 0;

}

.sectorcontent .allsector .box {
    margin-bottom: 10px;
    cursor: pointer;
}

.sectorcontent .allsector .box .sectortitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-weight: 500;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding: 5px 10px;
}

.sectorcontent .allsector .box .sectortitle > div {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #616977;
}

.sectorcontent .sectorinfo .box {
    display: flex;
    width: 90%;
    margin-bottom: 30px;
    background: linear-gradient(to left, rgba(234, 236, 244, 1) 50%, rgba(252, 252, 252, 1) 100%);
    padding: 10px 5px;
    border-radius: 25px;
    height: 150px;
}

.sectorcontent .sectorinfo .box:hover {
    background: linear-gradient(to left, rgba(6, 11, 101, 1) 50%, rgba(66, 12, 119, 1) 100%);

}

.sectorcontent .sectorinfo .box:hover .left .top h3,
.sectorcontent .sectorinfo .box:hover .left p {
    color: var(--whiteColor);
}

.sectorcontent .sectorinfo {
    flex-basis: 66%;
    padding: 60px 30px;
}

.sectorcontent .sectorinfo .box .left {
    width: 100%;
}

.sectorcontent .sectorinfo .box .left .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.sectorcontent .sectorinfo .box .left .top h3 {
    color: #5f2e8d;
    font-size: 23px;
    margin-top: 16px;
}

.sectorcontent .sectorinfo .box .left .top p {
    color: var(--babyBlue);
    font-weight: 500;
    text-align: right;
    margin-top: 10px;
}

.sectorcontent .sectorinfo .box .left .code {
    display: none;
}

.code {
    display: none;
}

.sectorcontent .sectorinfo .box .left .code .codetitle {
    color: var(--mediumGray);
    font-weight: 500;
    margin-left: 15px;
}

.sectorcontent .sectorinfo .box .left p {
    color: var(--mediumDarkGray);
    font-weight: 500;
    font-size: 16px;
    margin-top: 26px;
    max-width: 600px;
}

.sectorcontent .sectorinfo .box .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 20%;
}

.sectorcontent .sectorinfo .box .right img {
    width: 70px;
    height: 70px;
}

.sectorcontent .sectorinfo .box .right .codetitle {
    color: var(--mediumGray);
    font-weight: 500;
}

.sectorcontent .sectorinfo .box .right .codenum {
    color: var(--babyBlue);
    font-weight: 500;
    margin-top: 10px;
}

.allsector .box .sectordetails {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.allsector .box .sectordetails p {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.allsector .box .sectordetails p input {
    margin: auto 13px 0 0;
}

.allsector .box .sectordetails p input[type=checkbox]:before {
    width: 12px;
    height: 12px;
    font-size: 10px;
    border: 1px solid var(--mediumGray);
}

.allsector .box .sectordetails p input[type=checkbox]:checked:before {
    color: var(--mediumGray) !important;
}

.allsector .box .fa-angle-down {
    color: #f2f2f2;
}

.allsector .box.active .fa-angle-down {
    transform: rotate(180deg);
    color: var(--whiteColor);
}

.allsector .box.active .sectordetails {
    max-height: 800px;
    visibility: visible;
    opacity: 1;
}

.allsector .box.active .sectortitle {
    background: linear-gradient(to left, rgba(6, 11, 101, 1) 50%, rgba(66, 12, 119, 1) 100%);

    border-color: transparent;
}

.allsector .box.active .sectortitle > div {
    color: var(--whiteColor);
}

.sectorcontent .allsector .topbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

input[type="checkbox"] {
    cursor: pointer;
    padding: 5px;
    width: 20px;
    height: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    text-align: center;
    line-height: 1.4;
    position: relative;
}

input[type=checkbox]:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 15px;
    color: transparent !important;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: -5px;
    margin-top: -5px;
    border: 1px solid #5f2e8d;
    border-radius: 4px;
}

input[type=checkbox]:checked:before {
    color: #5f2e8d !important;
}

.sectorcontent .allsector .topbox p {
    color: #5f2e8d;
    font-weight: 500;
    cursor: pointer;
}

.sectorcontent .allsector .topbox .checkall {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sectorcontent .allsector .box .sectordetails p a {
    color: var(--mediumGray);
    font-weight: 300;
}

.sectorcontent .allsector .box .sectordetails p a:hover {
    text-decoration: underline;
}

.sectorcontent .allsector .box .sectordetails .last {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sectorcontent .allsector .box .sectordetails p .plus {
    font-weight: 500;
}

.sectorcontent .allsector .box .sectordetails p .plus i {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 5px;

}

.sectorcontent .allsector .box .sectordetails .sub {
    display: none;
}

.sectorcontent .allsector .box .sectordetails .sub.active {
    display: block;
}

.sectorcontent .sectorinfo .part {
    display: none;
}

.sectorcontent .sectorinfo .part.active {
    display: block;
}

.sectorinfo .part .box.show {
    display: flex;
}

.sectorinfo .part .box.disappear {
    display: none;
}



@media(max-width: 767px) {
    .sectorcontent .sectorinfo .box {
        flex-direction: column;
        margin-bottom: 50px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--mediumGray);
    }

    .sectorcontent .allsector .topbox .checkall {
        gap: 10px;
        margin-bottom: 20px;
    }

    .sectorcontent .allsector .topbox {
        align-items: flex-start;
    }
}

@media(max-width: 613px) {
    .sectorcontent .sectorinfo .box .left .top {
        justify-content: center;
        gap: 20px;
    }

    .sectorcontent {
        flex-direction: column;
    }

    .sectorcontent .sectorinfo {
        padding: 0px 30px;
    }

    .sectorcontent .sectorinfo .box {
        width: 100%;
    }

    .sectorcontent .sectorinfo .box .left .top {
        align-items: center;
        text-align: center;
    }
}

@media(max-width: 460px) {
    .sectorcontent .sectorinfo .box .left .top h3 {
        font-size: 20px;
    }

    .sectorcontent .sectorinfo {
        flex-basis: 100%;
        padding: 0px 30px;
    }

    .sectorcontent .sectorinfo .box .left p {
        max-width: 100%;
    }

    .sectorcontent .sectorinfo .box {
        padding: 20px 15px;
    }


}

/*iwaa Page*/
.container .iwaacontent {
    margin-top: 100px;
    background-color: var(--whiteColor);
    min-height: 150vh;
}

.container .iwaacontent .navbar {
    padding: 100px 30px;
    position: relative;
}

.container .iwaacontent .navbar .cu1,
.container .iwaacontent .navbar .cu2,
.container .iwaacontent .navbar .cu3,
.container .iwaacontent .navbar .cu4,
.container .iwaacontent .navbar .cu5 {
    position: absolute;
    border: 5px solid var(--darkBlue);
    padding: 140px;
}

.container .iwaacontent .navbar .cu1,
.container .iwaacontent .navbar .cu3,
.container .iwaacontent .navbar .cu5 {
    border-right: 0px;
    border-radius: 30px 0 0 30px;
    left: 0;
}

.container .iwaacontent .navbar .cu1 {
    top: 13px;
}

.container .iwaacontent .navbar .cu3 {
    top: 523px;
}

.container .iwaacontent .navbar .cu5 {
    top: 1033px;
}

.container .iwaacontent .navbar .cu2,
.container .iwaacontent .navbar .cu4 {
    border-left: 0px;
    border-radius: 0px 30px 30px 0px;
    right: 0;
}

.container .iwaacontent .navbar .cu2 {
    top: 268px;
}

.container .iwaacontent .navbar .cu4 {
    top: 778px;
}

.container .iwaacontent .navbar .st1,
.container .iwaacontent .navbar .st2,
.container .iwaacontent .navbar .st3,
.container .iwaacontent .navbar .st4,
.container .iwaacontent .navbar .st5,
.container .iwaacontent .navbar .st6 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.container .iwaacontent .navbar .st6 {
    justify-content: center;
}

.container .iwaacontent .navbar .st1::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--darkBlue);
    border-radius: 50%;
    right: 0;
}

.container .iwaacontent .navbar .st1::after,
.container .iwaacontent .navbar .st2::after,
.container .iwaacontent .navbar .st3::after,
.container .iwaacontent .navbar .st4::after,
.container .iwaacontent .navbar .st5::after,
.container .iwaacontent .navbar .st6::after {
    content: "";
    position: absolute;
    width: 96%;
    height: 5px;
    background-color: var(--darkBlue);
    right: 0;
}

.container .iwaacontent .navbar .st2::after {
    top: 268px;
    width: 80%;
    right: 57px;
}

.container .iwaacontent .navbar .st3::after {
    top: 523px;
    width: 80%;
    right: 60px;
}

.container .iwaacontent .navbar .st4::after {
    width: 80%;
    right: 57px;
    top: 778px;
}

.container .iwaacontent .navbar .st5::after {
    right: 60px;
    width: 80%;
    top: 1033px;
}

.container .iwaacontent .navbar .st6::after {
    width: 80%;
    right: 60px;
    top: 1288px;
}

.container .iwaacontent .navbar .st6::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: var(--vintageGray);
    right: 58px;
    top: 1282px;
}

.container .iwaacontent .navbar .st1 li,
.container .iwaacontent .navbar .st2 li,
.container .iwaacontent .navbar .st3 li,
.container .iwaacontent .navbar .st4 li,
.container .iwaacontent .navbar .st5 li,
.container .iwaacontent .navbar .st6 li {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    color: var(--whiteColor);
    border-radius: 50%;
    background-color: var(--darkBlue);
    font-weight: 300;
    cursor: pointer;
    z-index: 100;
}

.container .iwaacontent .navbar .st2 li {
    top: 256px;
}

.container .iwaacontent .navbar .st3 li {
    top: 511px;
}

.container .iwaacontent .navbar .st4 li {
    top: 766px;
}

.container .iwaacontent .navbar .st5 li {
    top: 1020px;
}

.container .iwaacontent .navbar .st6 li {
    background-color: var(--mediumDarkGray);
    top: 1275px;
}

.container .iwaacontent .navbar .st1 li:nth-of-type(3),
.container .iwaacontent .navbar .st1 li:nth-of-type(4) {
    background-color: var(--babyBlue) !important;
}

.container .iwaacontent .navbar .st5 li:nth-child(2),
.container .iwaacontent .navbar .st5 li:nth-child(3),
.container .iwaacontent .navbar .st5 li:nth-child(4) {
    background-color: var(--mediumDarkGray);
}

.container .iwaacontent .navbar .st1 li::before,
.container .iwaacontent .navbar .st2 li::before,
.container .iwaacontent .navbar .st3 li::before,
.container .iwaacontent .navbar .st4 li::before,
.container .iwaacontent .navbar .st5 li::before,
.container .iwaacontent .navbar .st6 li::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid var(--darkBlue);
    top: -5px;
    left: -5px;
}

.container .iwaacontent .navbar .st1 li:nth-of-type(-n+3)::after,
.container .iwaacontent .navbar .st3 li:nth-of-type(-n+3)::after,
.container .iwaacontent .navbar .st5 li:nth-of-type(-n+3)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--babyBlue);
    right: 160px;
}

.container .iwaacontent .navbar .st1 li:last-of-type::after,
.container .iwaacontent .navbar .st3 li:last-of-type::after,
.container .iwaacontent .navbar .st5 li:last-of-type::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--babyBlue);
    right: 160px;
    top: 150px;
}

.container .iwaacontent .navbar .st2 li:nth-last-of-type(-n+4)::after,
.container .iwaacontent .navbar .st4 li:nth-last-of-type(-n+4)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--babyBlue);
    left: 182px;
}

.container .iwaacontent .navbar .st2 li:first-of-type::after,
.container .iwaacontent .navbar .st4 li:first-of-type::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--babyBlue);
    left: 161px;
    top: 150px;
}

.container .iwaacontent .navbar .st1 .content,
.container .iwaacontent .navbar .st2 .content,
.container .iwaacontent .navbar .st3 .content,
.container .iwaacontent .navbar .st4 .content,
.container .iwaacontent .navbar .st5 .content,
.container .iwaacontent .navbar .st6 .content {
    position: absolute;
    top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    max-width: 250px;
    width: 100%;
}

.container .iwaacontent .navbar .content img {
    width: 60px;
}

.container .iwaacontent .navbar .st1 .box,
.container .iwaacontent .navbar .st2 .box,
.container .iwaacontent .navbar .st3 .box,
.container .iwaacontent .navbar .st4 .box,
.container .iwaacontent .navbar .st5 .box,
.container .iwaacontent .navbar .st6 .box {
    background-color: var(--lightGray);
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    max-width: 300px;
    width: 100%;
    min-height: 60px;
    color: var(--grayColor);
    text-align: center;
}

.container .iwaacontent .navbar .st6 .box a {
    color: var(--grayColor);
}

.container .iwaacontent .navbar .st2 .content {
    top: 295px;
}

.container .iwaacontent .navbar .st3 .content {
    top: 565px;
}

.container .iwaacontent .navbar .st4 .content {
    top: 820px;
}

.container .iwaacontent .navbar .st5 .content {
    top: 1080px;
}

.container .iwaacontent .navbar .st6 .content {
    top: 1330px;
}

.container .iwaacontent .navbar .st .content .info {
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    max-width: 300px;
    width: 100%;
    min-height: 60px;
    border: 1px solid var(--vintageGray);
}

.iwaacontent .navbar .st .content .info .top,
.iwaacontent .navbar .st .content .info .bottom {
    display: flex;
    align-items: center;
    gap: 15px;
}

.iwaacontent .navbar .st .content .info .bottom {
    margin-top: 10px;
}

.iwaacontent .navbar .st .content .info .top p,
.iwaacontent .navbar .st .content .info .bottom p {
    max-width: 200px;
    font-weight: 300;
    font-size: 12px;
    color: var(--grayColor);
}

.container .iwaacontent .navbar .st1 .c2,
.container .iwaacontent .navbar .st2 .c7,
.container .iwaacontent .navbar .st3 .c10,
.container .iwaacontent .navbar .st4 .c15,
.container .iwaacontent .navbar .st5 .c18 {
    right: 366px;
    z-index: 300;
}

.container .iwaacontent .navbar .st1 .c1,
.container .iwaacontent .navbar .st2 .c8,
.container .iwaacontent .navbar .st3 .c9,
.container .iwaacontent .navbar .st4 .c16,
.container .iwaacontent .navbar .st5 .c17 {
    right: 40px;
    z-index: 300;
}

.container .iwaacontent .navbar .st1 .c4,
.container .iwaacontent .navbar .st2 .c5,
.container .iwaacontent .navbar .st3 .c12,
.container .iwaacontent .navbar .st4 .c13,
.container .iwaacontent .navbar .st5 .c20 {
    right: 1024px;
    z-index: 300;
}

.container .iwaacontent .navbar .st1 .c3,
.container .iwaacontent .navbar .st2 .c6,
.container .iwaacontent .navbar .st3 .c11,
.container .iwaacontent .navbar .st4 .c14,
.container .iwaacontent .navbar .st5 .c19 {
    right: 695px;
    z-index: 300;
}

.iwaacontent .navbar .st .content .info,
.iwaacontent .navbar .st .content img {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.iwaacontent .navbar .st .content:hover .info,
.iwaacontent .navbar .st .content:hover img {
    visibility: visible;
    opacity: 1;
    max-height: 200px;
}

@media(max-width: 1399px) and (min-width: 992px) {

    .container .iwaacontent .navbar .st1 li:nth-child(-n+3)::after,
    .container .iwaacontent .navbar .st3 li:nth-child(-n+3)::after,
    .container .iwaacontent .navbar .st5 li:nth-child(-n+3)::after {
        right: 116px;
    }

    .container .iwaacontent .navbar .st2 li:nth-last-child(-n+4)::after,
    .container .iwaacontent .navbar .st4 li:nth-last-child(-n+4)::after {
        left: 116px;
    }

    .container .iwaacontent .navbar .st2 li:first-of-type::after,
    .container .iwaacontent .navbar .st4 li:first-of-type::after {
        left: 107px;
    }

    .container .iwaacontent .navbar .st1 li:last-of-type::after,
    .container .iwaacontent .navbar .st3 li:last-of-type::after,
    .container .iwaacontent .navbar .st5 li:last-of-type::after {
        right: 107px;
    }

}

@media(max-width: 991px) {

    .container .iwaacontent .navbar .st1 li:nth-child(-n+3)::after,
    .container .iwaacontent .navbar .st3 li:nth-child(-n+3)::after,
    .container .iwaacontent .navbar .st5 li:nth-child(-n+3)::after {
        right: 95px;
    }

    .container .iwaacontent .navbar .st2 li:nth-last-child(-n+4)::after,
    .container .iwaacontent .navbar .st4 li:nth-last-child(-n+4)::after {
        left: 95px;
    }

    .container .iwaacontent .navbar .st2 li:first-of-type::after,
    .container .iwaacontent .navbar .st4 li:first-of-type::after {
        left: 82px;
    }

    .container .iwaacontent .navbar .st1 li:last-of-type::after,
    .container .iwaacontent .navbar .st3 li:last-of-type::after,
    .container .iwaacontent .navbar .st5 li:last-of-type::after {
        right: 82px;
    }
}

@media(max-width: 700px) and (min-width: 601px) {
    .container .iwaacontent .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .container .iwaacontent .navbar .st1 li:nth-child(-n+3)::after,
    .container .iwaacontent .navbar .st3 li:nth-child(-n+3)::after,
    .container .iwaacontent .navbar .st5 li:nth-child(-n+3)::after {
        right: 75px;
    }

    .container .iwaacontent .navbar .st2 li:nth-last-child(-n+4)::after,
    .container .iwaacontent .navbar .st4 li:nth-last-child(-n+4)::after {
        left: 75px;
    }

    .container .iwaacontent .navbar .st2 li:first-of-type::after,
    .container .iwaacontent .navbar .st4 li:first-of-type::after {
        left: 68px;
    }

    .container .iwaacontent .navbar .st1 li:last-of-type::after,
    .container .iwaacontent .navbar .st3 li:last-of-type::after,
    .container .iwaacontent .navbar .st5 li:last-of-type::after {
        right: 68px;
    }
}

@media(max-width: 600px) {

    .container .iwaacontent .navbar .st1 li::after,
    .container .iwaacontent .navbar .st2 li::after,
    .container .iwaacontent .navbar .st3 li::after,
    .container .iwaacontent .navbar .st4 li::after,
    .container .iwaacontent .navbar .st5 li::after {
        display: none;
    }

    .container .iwaacontent .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .container .iwaacontent .navbar .st1::after {
        width: 92%;
    }

    .container .iwaacontent .navbar .st2::after,
    .container .iwaacontent .navbar .st3::after,
    .container .iwaacontent .navbar .st4::after,
    .container .iwaacontent .navbar .st5::after,
    .container .iwaacontent .navbar .st6::after {
        right: 40px;
    }
}

/*iwaainfo Page*/
.container .iwaainfo {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.container .iwaainfo .iwaainfosection {
    flex-basis: 70%;
    padding: 25px 15px;
    border-radius: 20px;

}

.container .iwaainfo .progrss {
    flex-basis: 30%;
    padding: 25px;
    background-color: var(--whiteColor);
    position: relative;
}

.container .iwaainfo .progrss::before {
    content: "";
    position: absolute;
    background: linear-gradient(to left, rgba(67, 16, 141, 1) 50%, rgba(10, 103, 207, 1) 100%);
    width: 60%;
    height: 5px;
    top: 0;
    right: 0;
}

.container .iwaainfo .progrss input[type="radio"] {
    display: none;
    position: absolute;
}

.container .iwaainfo .progrss .head {
    position: relative;
    width: 100%;
    margin: auto;
}

.container .iwaainfo .progrss .head .nav {
    /*padding-top: 15px;*/
    z-index: 100;
    width: 100%;
}

.container .iwaainfo .progrss .head .nav li {
    position: relative;
    min-height: 30px;
    width: 89%;
    font-size: 14px;
    font-weight: 500;
    margin-right: 30px;
    color: #451c9f;
    cursor: pointer;
    transition: all .3s ease;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

.container .iwaainfo .progrss .head .nav li::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--darkBlue);
    margin-right: -45px;
    display: block;
}

.container .iwaainfo .progrss .head .nav li::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--mediumDarkGray);
    top: 5px;
    right: -40px;
    color: var(--whiteColor);
    z-index: 4;
    text-align: center;
}

.container .iwaainfo .progrss .head .nav li p {
    padding-right: 5px;
}

.container .iwaainfo .progrss .head .nav li:first-of-type::after {
    content: "1";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(2)::after {
    content: "2";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(3)::after {
    content: "3";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(4)::after {
    content: "4";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(5)::after {
    content: "5";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(6)::after {
    content: "6";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(7)::after {
    content: "7";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(8)::after {
    content: "8";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(9)::after {
    content: "9";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(10)::after {
    content: "10";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(11)::after {
    content: "11";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(12)::after {
    content: "12";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(13)::after {
    content: "13";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(14)::after {
    content: "14";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(15)::after {
    content: "15";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(16)::after {
    content: "16";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(17)::after {
    content: "17";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(18)::after {
    content: "18";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(19)::after {
    content: "19";
}

.container .iwaainfo .progrss .head .nav li:nth-of-type(20)::after {
    content: "20";
}

.container .iwaainfo .progrss .head .nav li:hover::after {
    background-color: #0f0b68;
}

.container .iwaainfo .progrss .head .nav li.active::after {
    background-color: #0f0b68;
}

.container .iwaainfo .progrss .head .nav li.active {
    color: var(--whiteColor);
    background: linear-gradient(to left, rgba(6, 11, 101, 1) 50%, rgba(66, 12, 119, 1) 100%);
}

.container .iwaainfo .progrss .head .line {
    height: 95%;
    background-color: #eee;
    width: 2px;
    position: absolute;
    top: 1px;
    right: 1px;
}

.container .iwaainfo .progrss .head .line-1 {
    height: 89%;
}

.r2:checked ~ .head .nav .pt1::after,

.r3:checked ~ .head .nav .pt1::after,
.r3:checked ~ .head .nav .pt2::after,

.r4:checked ~ .head .nav .pt1::after,
.r4:checked ~ .head .nav .pt2::after,
.r4:checked ~ .head .nav .pt3::after,

.r5:checked ~ .head .nav .pt1::after,
.r5:checked ~ .head .nav .pt2::after,
.r5:checked ~ .head .nav .pt3::after,
.r5:checked ~ .head .nav .pt4::after,

.r6:checked ~ .head .nav .pt1::after,
.r6:checked ~ .head .nav .pt2::after,
.r6:checked ~ .head .nav .pt3::after,
.r6:checked ~ .head .nav .pt4::after,
.r6:checked ~ .head .nav .pt5::after,

.r7:checked ~ .head .nav .pt1::after,
.r7:checked ~ .head .nav .pt2::after,
.r7:checked ~ .head .nav .pt3::after,
.r7:checked ~ .head .nav .pt4::after,
.r7:checked ~ .head .nav .pt5::after,
.r7:checked ~ .head .nav .pt6::after,

.r8:checked ~ .head .nav .pt1::after,
.r8:checked ~ .head .nav .pt2::after,
.r8:checked ~ .head .nav .pt3::after,
.r8:checked ~ .head .nav .pt4::after,
.r8:checked ~ .head .nav .pt5::after,
.r8:checked ~ .head .nav .pt6::after,
.r8:checked ~ .head .nav .pt7::after,

.r9:checked ~ .head .nav .pt1::after,
.r9:checked ~ .head .nav .pt2::after,
.r9:checked ~ .head .nav .pt3::after,
.r9:checked ~ .head .nav .pt4::after,
.r9:checked ~ .head .nav .pt5::after,
.r9:checked ~ .head .nav .pt6::after,
.r9:checked ~ .head .nav .pt7::after,
.r9:checked ~ .head .nav .pt8::after,

.r10:checked ~ .head .nav .pt1::after,
.r10:checked ~ .head .nav .pt2::after,
.r10:checked ~ .head .nav .pt3::after,
.r10:checked ~ .head .nav .pt4::after,
.r10:checked ~ .head .nav .pt5::after,
.r10:checked ~ .head .nav .pt6::after,
.r10:checked ~ .head .nav .pt7::after,
.r10:checked ~ .head .nav .pt8::after,
.r10:checked ~ .head .nav .pt9::after,

.r11:checked ~ .head .nav .pt1::after,
.r11:checked ~ .head .nav .pt2::after,
.r11:checked ~ .head .nav .pt3::after,
.r11:checked ~ .head .nav .pt4::after,
.r11:checked ~ .head .nav .pt5::after,
.r11:checked ~ .head .nav .pt6::after,
.r11:checked ~ .head .nav .pt7::after,
.r11:checked ~ .head .nav .pt8::after,
.r11:checked ~ .head .nav .pt9::after,
.r11:checked ~ .head .nav .pt10::after,

.r12:checked ~ .head .nav .pt1::after,
.r12:checked ~ .head .nav .pt2::after,
.r12:checked ~ .head .nav .pt3::after,
.r12:checked ~ .head .nav .pt4::after,
.r12:checked ~ .head .nav .pt5::after,
.r12:checked ~ .head .nav .pt6::after,
.r12:checked ~ .head .nav .pt7::after,
.r12:checked ~ .head .nav .pt8::after,
.r12:checked ~ .head .nav .pt9::after,
.r12:checked ~ .head .nav .pt10::after,
.r12:checked ~ .head .nav .pt11::after,

.r13:checked ~ .head .nav .pt1::after,
.r13:checked ~ .head .nav .pt2::after,
.r13:checked ~ .head .nav .pt3::after,
.r13:checked ~ .head .nav .pt4::after,
.r13:checked ~ .head .nav .pt5::after,
.r13:checked ~ .head .nav .pt6::after,
.r13:checked ~ .head .nav .pt7::after,
.r13:checked ~ .head .nav .pt8::after,
.r13:checked ~ .head .nav .pt9::after,
.r13:checked ~ .head .nav .pt10::after,
.r13:checked ~ .head .nav .pt11::after,
.r13:checked ~ .head .nav .pt12::after,

.r14:checked ~ .head .nav .pt1::after,
.r14:checked ~ .head .nav .pt2::after,
.r14:checked ~ .head .nav .pt3::after,
.r14:checked ~ .head .nav .pt4::after,
.r14:checked ~ .head .nav .pt5::after,
.r14:checked ~ .head .nav .pt6::after,
.r14:checked ~ .head .nav .pt7::after,
.r14:checked ~ .head .nav .pt8::after,
.r14:checked ~ .head .nav .pt9::after,
.r14:checked ~ .head .nav .pt10::after,
.r14:checked ~ .head .nav .pt11::after,
.r14:checked ~ .head .nav .pt12::after,
.r14:checked ~ .head .nav .pt13::after,

.r15:checked ~ .head .nav .pt1::after,
.r15:checked ~ .head .nav .pt2::after,
.r15:checked ~ .head .nav .pt3::after,
.r15:checked ~ .head .nav .pt4::after,
.r15:checked ~ .head .nav .pt5::after,
.r15:checked ~ .head .nav .pt6::after,
.r15:checked ~ .head .nav .pt7::after,
.r15:checked ~ .head .nav .pt8::after,
.r15:checked ~ .head .nav .pt9::after,
.r15:checked ~ .head .nav .pt10::after,
.r15:checked ~ .head .nav .pt11::after,
.r15:checked ~ .head .nav .pt12::after,
.r15:checked ~ .head .nav .pt13::after,
.r15:checked ~ .head .nav .pt14::after,

.r16:checked ~ .head .nav .pt1::after,
.r16:checked ~ .head .nav .pt2::after,
.r16:checked ~ .head .nav .pt3::after,
.r16:checked ~ .head .nav .pt4::after,
.r16:checked ~ .head .nav .pt5::after,
.r16:checked ~ .head .nav .pt6::after,
.r16:checked ~ .head .nav .pt7::after,
.r16:checked ~ .head .nav .pt8::after,
.r16:checked ~ .head .nav .pt9::after,
.r16:checked ~ .head .nav .pt10::after,
.r16:checked ~ .head .nav .pt11::after,
.r16:checked ~ .head .nav .pt12::after,
.r16:checked ~ .head .nav .pt13::after,
.r16:checked ~ .head .nav .pt14::after,
.r16:checked ~ .head .nav .pt15::after,

.r17:checked ~ .head .nav .pt1::after,
.r17:checked ~ .head .nav .pt2::after,
.r17:checked ~ .head .nav .pt3::after,
.r17:checked ~ .head .nav .pt4::after,
.r17:checked ~ .head .nav .pt5::after,
.r17:checked ~ .head .nav .pt6::after,
.r17:checked ~ .head .nav .pt7::after,
.r17:checked ~ .head .nav .pt8::after,
.r17:checked ~ .head .nav .pt9::after,
.r17:checked ~ .head .nav .pt10::after,
.r17:checked ~ .head .nav .pt11::after,
.r17:checked ~ .head .nav .pt12::after,
.r17:checked ~ .head .nav .pt13::after,
.r17:checked ~ .head .nav .pt14::after,
.r17:checked ~ .head .nav .pt15::after,
.r17:checked ~ .head .nav .pt16::after,

.r18:checked ~ .head .nav .pt1::after,
.r18:checked ~ .head .nav .pt2::after,
.r18:checked ~ .head .nav .pt3::after,
.r18:checked ~ .head .nav .pt4::after,
.r18:checked ~ .head .nav .pt5::after,
.r18:checked ~ .head .nav .pt6::after,
.r18:checked ~ .head .nav .pt7::after,
.r18:checked ~ .head .nav .pt8::after,
.r18:checked ~ .head .nav .pt9::after,
.r18:checked ~ .head .nav .pt10::after,
.r18:checked ~ .head .nav .pt11::after,
.r18:checked ~ .head .nav .pt12::after,
.r18:checked ~ .head .nav .pt13::after,
.r18:checked ~ .head .nav .pt14::after,
.r18:checked ~ .head .nav .pt15::after,
.r18:checked ~ .head .nav .pt16::after,
.r18:checked ~ .head .nav .pt17::after,

.r19:checked ~ .head .nav .pt1::after,
.r19:checked ~ .head .nav .pt2::after,
.r19:checked ~ .head .nav .pt3::after,
.r19:checked ~ .head .nav .pt4::after,
.r19:checked ~ .head .nav .pt5::after,
.r19:checked ~ .head .nav .pt6::after,
.r19:checked ~ .head .nav .pt7::after,
.r19:checked ~ .head .nav .pt8::after,
.r19:checked ~ .head .nav .pt9::after,
.r19:checked ~ .head .nav .pt10::after,
.r19:checked ~ .head .nav .pt11::after,
.r19:checked ~ .head .nav .pt12::after,
.r19:checked ~ .head .nav .pt13::after,
.r19:checked ~ .head .nav .pt14::after,
.r19:checked ~ .head .nav .pt15::after,
.r19:checked ~ .head .nav .pt16::after,
.r19:checked ~ .head .nav .pt17::after,
.r19:checked ~ .head .nav .pt18::after,

.r20:checked ~ .head .nav .pt1::after,
.r20:checked ~ .head .nav .pt2::after,
.r20:checked ~ .head .nav .pt3::after,
.r20:checked ~ .head .nav .pt4::after,
.r20:checked ~ .head .nav .pt5::after,
.r20:checked ~ .head .nav .pt6::after,
.r20:checked ~ .head .nav .pt7::after,
.r20:checked ~ .head .nav .pt8::after,
.r20:checked ~ .head .nav .pt9::after,
.r20:checked ~ .head .nav .pt10::after,
.r20:checked ~ .head .nav .pt11::after,
.r20:checked ~ .head .nav .pt12::after,
.r20:checked ~ .head .nav .pt13::after,
.r20:checked ~ .head .nav .pt14::after,
.r20:checked ~ .head .nav .pt15::after,
.r20:checked ~ .head .nav .pt16::after,
.r20:checked ~ .head .nav .pt17::after,
.r20:checked ~ .head .nav .pt18::after,
.r20:checked ~ .head .nav .pt19::after,

.r21:checked ~ .head .nav .pt1::after,
.r21:checked ~ .head .nav .pt2::after,
.r21:checked ~ .head .nav .pt3::after,
.r21:checked ~ .head .nav .pt4::after,
.r21:checked ~ .head .nav .pt5::after,
.r21:checked ~ .head .nav .pt6::after,
.r21:checked ~ .head .nav .pt7::after,
.r21:checked ~ .head .nav .pt8::after,
.r21:checked ~ .head .nav .pt9::after,
.r21:checked ~ .head .nav .pt10::after,
.r21:checked ~ .head .nav .pt11::after,
.r21:checked ~ .head .nav .pt12::after,
.r21:checked ~ .head .nav .pt13::after,
.r21:checked ~ .head .nav .pt14::after,
.r21:checked ~ .head .nav .pt15::after,
.r21:checked ~ .head .nav .pt16::after,
.r21:checked ~ .head .nav .pt17::after,
.r21:checked ~ .head .nav .pt18::after,
.r21:checked ~ .head .nav .pt19::after,
.r21:checked ~ .head .nav .pt20::after {
    background-color: #b3b3b3 !important;
}

.r2:checked ~ .head .nav .pt1,

.r3:checked ~ .head .nav .pt1,
.r3:checked ~ .head .nav .pt2,

.r4:checked ~ .head .nav .pt1,
.r4:checked ~ .head .nav .pt2,
.r4:checked ~ .head .nav .pt3,

.r5:checked ~ .head .nav .pt1,
.r5:checked ~ .head .nav .pt2,
.r5:checked ~ .head .nav .pt3,
.r5:checked ~ .head .nav .pt4,

.r6:checked ~ .head .nav .pt1,
.r6:checked ~ .head .nav .pt2,
.r6:checked ~ .head .nav .pt3,
.r6:checked ~ .head .nav .pt4,
.r6:checked ~ .head .nav .pt5,

.r7:checked ~ .head .nav .pt1,
.r7:checked ~ .head .nav .pt2,
.r7:checked ~ .head .nav .pt3,
.r7:checked ~ .head .nav .pt4,
.r7:checked ~ .head .nav .pt5,
.r7:checked ~ .head .nav .pt6,

.r8:checked ~ .head .nav .pt1,
.r8:checked ~ .head .nav .pt2,
.r8:checked ~ .head .nav .pt3,
.r8:checked ~ .head .nav .pt4,
.r8:checked ~ .head .nav .pt5,
.r8:checked ~ .head .nav .pt6,
.r8:checked ~ .head .nav .pt7,

.r9:checked ~ .head .nav .pt1,
.r9:checked ~ .head .nav .pt2,
.r9:checked ~ .head .nav .pt3,
.r9:checked ~ .head .nav .pt4,
.r9:checked ~ .head .nav .pt5,
.r9:checked ~ .head .nav .pt6,
.r9:checked ~ .head .nav .pt7,
.r9:checked ~ .head .nav .pt8,

.r10:checked ~ .head .nav .pt1,
.r10:checked ~ .head .nav .pt2,
.r10:checked ~ .head .nav .pt3,
.r10:checked ~ .head .nav .pt4,
.r10:checked ~ .head .nav .pt5,
.r10:checked ~ .head .nav .pt6,
.r10:checked ~ .head .nav .pt7,
.r10:checked ~ .head .nav .pt8,
.r10:checked ~ .head .nav .pt9,

.r11:checked ~ .head .nav .pt1,
.r11:checked ~ .head .nav .pt2,
.r11:checked ~ .head .nav .pt3,
.r11:checked ~ .head .nav .pt4,
.r11:checked ~ .head .nav .pt5,
.r11:checked ~ .head .nav .pt6,
.r11:checked ~ .head .nav .pt7,
.r11:checked ~ .head .nav .pt8,
.r11:checked ~ .head .nav .pt9,
.r11:checked ~ .head .nav .pt10,

.r12:checked ~ .head .nav .pt1,
.r12:checked ~ .head .nav .pt2,
.r12:checked ~ .head .nav .pt3,
.r12:checked ~ .head .nav .pt4,
.r12:checked ~ .head .nav .pt5,
.r12:checked ~ .head .nav .pt6,
.r12:checked ~ .head .nav .pt7,
.r12:checked ~ .head .nav .pt8,
.r12:checked ~ .head .nav .pt9,
.r12:checked ~ .head .nav .pt10,
.r12:checked ~ .head .nav .pt11,

.r13:checked ~ .head .nav .pt1,
.r13:checked ~ .head .nav .pt2,
.r13:checked ~ .head .nav .pt3,
.r13:checked ~ .head .nav .pt4,
.r13:checked ~ .head .nav .pt5,
.r13:checked ~ .head .nav .pt6,
.r13:checked ~ .head .nav .pt7,
.r13:checked ~ .head .nav .pt8,
.r13:checked ~ .head .nav .pt9,
.r13:checked ~ .head .nav .pt10,
.r13:checked ~ .head .nav .pt11,
.r13:checked ~ .head .nav .pt12,

.r14:checked ~ .head .nav .pt1,
.r14:checked ~ .head .nav .pt2,
.r14:checked ~ .head .nav .pt3,
.r14:checked ~ .head .nav .pt4,
.r14:checked ~ .head .nav .pt5,
.r14:checked ~ .head .nav .pt6,
.r14:checked ~ .head .nav .pt7,
.r14:checked ~ .head .nav .pt8,
.r14:checked ~ .head .nav .pt9,
.r14:checked ~ .head .nav .pt10,
.r14:checked ~ .head .nav .pt11,
.r14:checked ~ .head .nav .pt12,
.r14:checked ~ .head .nav .pt13,

.r15:checked ~ .head .nav .pt1,
.r15:checked ~ .head .nav .pt2,
.r15:checked ~ .head .nav .pt3,
.r15:checked ~ .head .nav .pt4,
.r15:checked ~ .head .nav .pt5,
.r15:checked ~ .head .nav .pt6,
.r15:checked ~ .head .nav .pt7,
.r15:checked ~ .head .nav .pt8,
.r15:checked ~ .head .nav .pt9,
.r15:checked ~ .head .nav .pt10,
.r15:checked ~ .head .nav .pt11,
.r15:checked ~ .head .nav .pt12,
.r15:checked ~ .head .nav .pt13,
.r15:checked ~ .head .nav .pt14,

.r16:checked ~ .head .nav .pt1,
.r16:checked ~ .head .nav .pt2,
.r16:checked ~ .head .nav .pt3,
.r16:checked ~ .head .nav .pt4,
.r16:checked ~ .head .nav .pt5,
.r16:checked ~ .head .nav .pt6,
.r16:checked ~ .head .nav .pt7,
.r16:checked ~ .head .nav .pt8,
.r16:checked ~ .head .nav .pt9,
.r16:checked ~ .head .nav .pt10,
.r16:checked ~ .head .nav .pt11,
.r16:checked ~ .head .nav .pt12,
.r16:checked ~ .head .nav .pt13,
.r16:checked ~ .head .nav .pt14,
.r16:checked ~ .head .nav .pt15,

.r17:checked ~ .head .nav .pt1,
.r17:checked ~ .head .nav .pt2,
.r17:checked ~ .head .nav .pt3,
.r17:checked ~ .head .nav .pt4,
.r17:checked ~ .head .nav .pt5,
.r17:checked ~ .head .nav .pt6,
.r17:checked ~ .head .nav .pt7,
.r17:checked ~ .head .nav .pt8,
.r17:checked ~ .head .nav .pt9,
.r17:checked ~ .head .nav .pt10,
.r17:checked ~ .head .nav .pt11,
.r17:checked ~ .head .nav .pt12,
.r17:checked ~ .head .nav .pt13,
.r17:checked ~ .head .nav .pt14,
.r17:checked ~ .head .nav .pt15,
.r17:checked ~ .head .nav .pt16,

.r18:checked ~ .head .nav .pt1,
.r18:checked ~ .head .nav .pt2,
.r18:checked ~ .head .nav .pt3,
.r18:checked ~ .head .nav .pt4,
.r18:checked ~ .head .nav .pt5,
.r18:checked ~ .head .nav .pt6,
.r18:checked ~ .head .nav .pt7,
.r18:checked ~ .head .nav .pt8,
.r18:checked ~ .head .nav .pt9,
.r18:checked ~ .head .nav .pt10,
.r18:checked ~ .head .nav .pt11,
.r18:checked ~ .head .nav .pt12,
.r18:checked ~ .head .nav .pt13,
.r18:checked ~ .head .nav .pt14,
.r18:checked ~ .head .nav .pt15,
.r18:checked ~ .head .nav .pt16,
.r18:checked ~ .head .nav .pt17,

.r19:checked ~ .head .nav .pt1,
.r19:checked ~ .head .nav .pt2,
.r19:checked ~ .head .nav .pt3,
.r19:checked ~ .head .nav .pt4,
.r19:checked ~ .head .nav .pt5,
.r19:checked ~ .head .nav .pt6,
.r19:checked ~ .head .nav .pt7,
.r19:checked ~ .head .nav .pt8,
.r19:checked ~ .head .nav .pt9,
.r19:checked ~ .head .nav .pt10,
.r19:checked ~ .head .nav .pt11,
.r19:checked ~ .head .nav .pt12,
.r19:checked ~ .head .nav .pt13,
.r19:checked ~ .head .nav .pt14,
.r19:checked ~ .head .nav .pt15,
.r19:checked ~ .head .nav .pt16,
.r19:checked ~ .head .nav .pt17,
.r19:checked ~ .head .nav .pt18,

.r20:checked ~ .head .nav .pt1,
.r20:checked ~ .head .nav .pt2,
.r20:checked ~ .head .nav .pt3,
.r20:checked ~ .head .nav .pt4,
.r20:checked ~ .head .nav .pt5,
.r20:checked ~ .head .nav .pt6,
.r20:checked ~ .head .nav .pt7,
.r20:checked ~ .head .nav .pt8,
.r20:checked ~ .head .nav .pt9,
.r20:checked ~ .head .nav .pt10,
.r20:checked ~ .head .nav .pt11,
.r20:checked ~ .head .nav .pt12,
.r20:checked ~ .head .nav .pt13,
.r20:checked ~ .head .nav .pt14,
.r20:checked ~ .head .nav .pt15,
.r20:checked ~ .head .nav .pt16,
.r20:checked ~ .head .nav .pt17,
.r20:checked ~ .head .nav .pt18,
.r20:checked ~ .head .nav .pt19,

.r21:checked ~ .head .nav .pt1,
.r21:checked ~ .head .nav .pt2,
.r21:checked ~ .head .nav .pt3,
.r21:checked ~ .head .nav .pt4,
.r21:checked ~ .head .nav .pt5,
.r21:checked ~ .head .nav .pt6,
.r21:checked ~ .head .nav .pt7,
.r21:checked ~ .head .nav .pt8,
.r21:checked ~ .head .nav .pt9,
.r21:checked ~ .head .nav .pt10,
.r21:checked ~ .head .nav .pt11,
.r21:checked ~ .head .nav .pt12,
.r21:checked ~ .head .nav .pt13,
.r21:checked ~ .head .nav .pt14,
.r21:checked ~ .head .nav .pt15,
.r21:checked ~ .head .nav .pt16,
.r21:checked ~ .head .nav .pt17,
.r21:checked ~ .head .nav .pt18,
.r21:checked ~ .head .nav .pt19,
.r21:checked ~ .head .nav .pt20 {
    color: var(--darkBlue) !important;
}

.container .iwaainfo .progrss .head .nav li + .box {
    background: linear-gradient(to left, rgba(234, 236, 244, 1) 50%, rgba(252, 252, 252, 1) 100%);
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 5px;
    width: 89%;
    padding: 10px;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
}

.container .iwaainfo .progrss .head .nav li:hover {
    height: auto;
    background: linear-gradient(to left, rgba(6, 11, 101, 1) 50%, rgba(66, 12, 119, 1) 100%);
}



.container .iwaainfo .progrss .head .nav li:hover + .box {
    opacity: 1;
    visibility: visible;
    min-height: 150px;
    position: relative;
    margin-right: 30px;
}

.container .iwaainfo .progrss .head .nav li:hover + .special {
    min-height: 240px;
}

.container .iwaainfo .progrss .head .nav li:hover p {
    color: var(--whiteColor);
}

.container .iwaainfo .progrss .head .nav li + .box .logo {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -22px;
}

.container .iwaainfo .progrss .head .nav li + .box .multiple {
    top: 15px;
}

.container .iwaainfo .progrss .head .nav li + .box .logo img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #0f0b68;
}

.container .iwaainfo .progrss .head .nav li + .box .steps {
    min-width: 300px;
    font-weight: 300;
    font-size: 13px;
}

.container .iwaainfo .progrss .head .nav li + .box .steps .top {

    padding: 10px;

}

.container .iwaainfo .progrss .head .nav li + .box .steps .top div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container .iwaainfo .progrss .head .nav li + .box .steps .top div img {
    width: 15px;
    height: 15px;
}

.container .iwaainfo .progrss .head .nav li + .box .steps .top div p {
    margin-bottom: 5px;
}

.container .iwaainfo .progrss .head .nav li + .box .steps .bottom {
    border-style: dotted;
    border-radius: 10px;
    border-color: var(--vintageGray);
    padding: 10px;
    min-height: 150px;
}

.container .iwaainfo .progrss .head .nav li + .box .steps .bottom div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container .iwaainfo .progrss .head .nav li + .box .steps .bottom div img {
    width: 17px;
    height: 17px;
}

.container .iwaainfo .progrss .head .nav li + .box .steps div p {
    margin-bottom: 5px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    color: var(--vintageGray);
}

.container .iwaainfo .iwaainfosection .section h2 {
    color: #451c9f;
    margin-bottom: 10px;
}

.container .iwaainfo .iwaainfosection .section {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.container .iwaainfo .iwaainfosection .section.active {
    opacity: 1;
    height: auto;
}

.iwaainfosection .box {
    padding: 20px 10px 0px 10px;
}

.iwaainfosection .box .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--darkBlue);
    cursor: pointer;
}

.iwaainfosection .box .top .inner-right {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-basis: 218px;
}

.iwaainfosection .box .top .inner-right p {
    color: #606061;
    font-weight: 500;
    font-size: 20px;
}

.iwaainfosection .box .top i {
    font-size: 20px;
    color: #4435f8;
}

.iwaainfosection .box .bottom {
    font-weight: 500;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
}

.iwaainfosection .box > .bottom > * {
    padding: 10px 0;
    min-width: 33.33%;
}

.iwaainfosection .box .bottom .right,
.iwaainfosection .box .bottom .middle {
    border-left: 1px solid #c4c8d1;
}

.iwaainfosection .box .bottom .right .bottom {}

.iwaainfosection .box .bottom .middle {
    padding-left: 10px;
    padding-right: 10px;
}

.iwaainfosection .box.active .bottom {
    opacity: 1;
    visibility: visible;
    max-height: 800px;
}

.iwaainfosection .box .bottom .middle .title img {
    width: 32px;
    height: auto;
}

.iwaainfosection .box.active .fa-angle-down {
    transform: rotate(180deg);
}

.iwaainfosection .box .bottom h4 {
    margin-bottom: 10px;
}

.iwaainfosection .desc .bottom {
    display: flex;
}

.iwaainfosection .desc .bottom p {
    flex-basis: 60%;
    color: var(--mediumDarkGray);
    padding: 10px 15px;
}

.iwaainfosection .desc .bottom i {
    flex-basis: 35%;
    font-size: 50px;
    align-self: center;
    text-align: center;
}

.iwaainfosection .time .top,
.iwaainfosection .money .top {
    justify-content: flex-start;
}

.iwaainfosection .time .inner-time,
.iwaainfosection .money .inner-money {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--mediumDarkGray);
    font-weight: 500;
    margin-right: -20px;
}

.iwaainfosection .time .inner-time img,
.iwaainfosection .money .inner-money img {
    width: 43px;
    height: 43px;
}

.iwaainfosection .money .inner-money p span {
    color: #4a4cf8;
}

.iwaainfosection .terms .bottom .inner-check,
.iwaainfosection .needs .bottom .inner-check {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.iwaainfosection .terms .bottom .inner-check p,
.iwaainfosection .needs .bottom .inner-check p {
    color: var(--mediumDarkGray);
    font-weight: 500;
    font-size: 15px;
}

.iwaainfosection .terms .print,
.iwaainfosection .needs .print {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.iwaainfosection .terms .print .btn-print,
.iwaainfosection .needs .print .btn-print {
    padding: 10px 21px;
    cursor: pointer;
    background-image: url(../images/print-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 32px;
}

.iwaainfosection .link .bottom a {
    color: var(--babyBlue);
    font-weight: 300;
    text-decoration: underline;
}

.iwaainfosection .jeha > .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.iwaainfosection .jeha .bottom .right .right-img,
.iwaainfosection .jeha .bottom .right .middle,
.iwaainfosection .jeha .bottom .right .bottom,
.iwaainfosection .jeha .bottom .middle .title {
    padding: 3px 15px;
    margin-bottom: 10px;
}

.iwaainfosection .jeha .bottom .right .right-img {
    height: 60px;
}


.iwaainfosection .jeha .bottom .right .right-img img {
    width: 70px;
}

.iwaainfosection .jeha .bottom .right .middle {
    min-height: 30px;
}

.iwaainfosection .jeha .bottom .right .middle p {
    font-weight: bold;
    color: #451c9f;
    font-size: 14px;
}

.iwaainfosection .jeha .bottom .right .bottom p {
    color: var(--mediumDarkGray);
    font-weight: 500;
    font-size: 14px;
    max-width: 250px;
}

.iwaainfosection .jeha .bottom .middle .title {
    display: flex;
    align-items: center;
    gap: 25px;
}

.iwaainfosection .jeha .bottom .middle .title p {
    color: #451c9f;
    font-weight: 700;
    font-size: 24px;
}

.iwaainfosection .jeha .bottom .middle iframe {
    border-radius: 30px;
}

.iwaainfosection .jeha .bottom .left .phone,
.iwaainfosection .jeha .bottom .left .pc,
.iwaainfosection .jeha .bottom .left .email {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}


.iwaainfosection .jeha .bottom .left .phone .icon,
.iwaainfosection .jeha .bottom .left .pc .icon,
.iwaainfosection .jeha .bottom .left .email .icon,
.iwaainfosection .jeha .bottom .left .phone .phone-inner,
.iwaainfosection .jeha .bottom .left .pc .pc-inner,
.iwaainfosection .jeha .bottom .left .email .email-inner {
    border-radius: 6px;
    padding: 3px 15px;
    margin-bottom: 10px;
}

.iwaainfosection .jeha .bottom .left .phone .phone-inner h3,
.iwaainfosection .jeha .bottom .left .pc .pc-inner h3,
.iwaainfosection .jeha .bottom .left .email .email-inner h3 {
    color: #8d6660;
    font-weight: bold;
    font-size: 17px;
}

.iwaainfosection .jeha .bottom .left .phone .phone-inner p,
.iwaainfosection .jeha .bottom .left .pc .pc-inner a,
.iwaainfosection .jeha .bottom .left .email .email-inner a {
    font-weight: 300;
    font-size: 14px;
    color: var(--babyBlue);
}

.iwaainfosection .jeha .bottom .left .phone .phone-inner p {
    display: flex;
}

.iwaainfosection .jeha .bottom .left .phone .phone-inner p a {
    color: var(--mediumDarkGray);
}

.iwaainfosection .jeha .bottom .left .phone .icon,
.iwaainfosection .jeha .bottom .left .pc .icon,
.iwaainfosection .jeha .bottom .left .email .icon {
    line-height: 2.5;
    padding-top: 10px;
    padding-bottom: 10px;

}

.iwaainfosection .jeha .bottom .left .phone .icon img,
.iwaainfosection .jeha .bottom .left .pc .icon img,
.iwaainfosection .jeha .bottom .left .email .icon img {
    width: 27px;
    height: 27px;
}

.iwaainfosection .jeha .bottom .middle .title img {}

.iwaainfosection .jeha .bottom .left .phone .phone-inner,
.iwaainfosection .jeha .bottom .left .pc .pc-inner,
.iwaainfosection .jeha .bottom .left .email .email-inner {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iwaainfosection img {
    width: 30px;
}


.container .generlaTitle {
    display: flex;
    align-items: center;
    margin: 150px auto 0;
    /*border-bottom: 2px solid var(--darkBlue);*/
    width: fit-content;
    width: -moz-fit-content;
}

main .container .generlaTitle h2 {

    text-align: center;
    color: #5f2e8d;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 10px;
}

main .container .generlaTitle img {
    width: 70px;
}

@media(max-width: 991px) {
    .container .iwaainfo {
        flex-direction: column;
    }

    .iwaainfosection .jeha .bottom {
        flex-direction: column;
    }

    .iwaainfosection .box.active .bottom {
        max-height: 1400px;
    }
}